
.app-container {
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 2% 5%;
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    /* stack components vertically on small screens */
  }

}